@use '../../style/utils';

$_CLASS: '.joy-radio-group';

:host {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    joy-form-error {
        width: 100%;
        flex-shrink: 0;
        margin-top: var(--joy-spacing-3);
    }
}

#{$_CLASS}-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &#{$_CLASS}-horizontal {
        flex-direction: row;
        justify-content: flex-start;
    }

    &#{$_CLASS}-vertical {
        flex-direction: column;
        align-items: flex-start;
    }
}

#{$_CLASS}-fieldset, #{$_CLASS}-legend {
    border: 0;
    padding: 0;
    margin: 0;
}

::slotted(joy-radio) {
    margin: var(--joy-spacing-4) var(--joy-spacing-4) 0 0;
}

::slotted([slot="radio-group-legend"]) { // Not the best way to select it, but it allows to use any html tag
    width: 100%;
    flex-shrink: 0;
    @include utils.getFontProperties(l-bold);
    margin: 0;
    padding: 0;
}