@mixin getSpacingProperties() {
    --joy-spacing-0: 2px;
    --joy-spacing-1: 4px;
    --joy-spacing-2: 8px;
    --joy-spacing-3: 12px;
    --joy-spacing-4: 16px;
    --joy-spacing-5: 20px;
    --joy-spacing-6: 24px;
    --joy-spacing-7: 28px;
    --joy-spacing-8: 32px;
    --joy-spacing-9: 40px;
    --joy-spacing-10: 48px;
    --joy-spacing-11: 56px;
    --joy-spacing-12: 64px;
}