$CLASS: '.joy-progress-bar';

:host {
    display: block;
    width: 100%;
    --progress-bar-color-mobile: var(--joy-color-primary-50);
}


#{$CLASS}-wrapper {
    height:4px;
    display: block;
    width: 100%;
    background-color: var(--joy-color-neutral-3);

    #{$CLASS}-inner {
        height:100%;
        width:0;
        background-color: var(--joy-color-secondary-50);
        transition: width var(--joy-transition-duration-long) var(--joy-transition-timing-function);

        &_mobile {
            background-color: var(--progress-bar-color-mobile);
        }
    }

    @media (max-width: 767px) {
        #{$CLASS}-inner {
            background-color: var(--progress-bar-color-mobile);
        }
    }
}