:host {
    /**
     * @prop --highlight-background-success: background color for SUCCESS state
     * @prop --highlight-color-success: text color for SUCCESS state
     * @prop --highlight-background-info: background color for INFO state
     * @prop --highlight-color-info: text color for INFO state
     * @prop --highlight-background-warning: background color for WARNING state
     * @prop --highlight-color-warning: text color for WARNING state
     * @prop --highlight-background-error: background color for ERROR state
     * @prop --highlight-color-error: text color for ERROR state
     */
    --highlight-background-success: var(--joy-color-success-10);
    --highlight-color-success: var(--joy-color-success-50);

    --highlight-background-info: var(--joy-color-information-10);
    --highlight-color-info: var(--joy-color-information-50);

    --highlight-background-warning: var(--joy-color-warning-10);
    --highlight-color-warning: var(--joy-color-warning-50);

    --highlight-background-error: var(--joy-color-error-10);
    --highlight-color-error: var(--joy-color-error-50);

    --highlight-background-neutral: var(--joy-color-neutral-2);
    --highlight-color-neutral: var(--joy-color-neutral-6);

    display: block;
    width: 100%;
}

.joy-highlight {
    display: flex;
    margin: 0;
    align-items: flex-start;
    padding: var(--joy-core-spacing-5);
    border-radius: var(--joy-core-radius-3);
    text-align: left;
    background-color: var(--highlight-background-info);

    &_neutral {
        background-color: var(--highlight-background-neutral);

        > joy-icon:first-child {
            color: var(--highlight-color-neutral);
        }
    }

    &_info {
        > joy-icon:first-child {
            color: var(--highlight-color-info);
        }
    }

    &_warning {
        background-color: var(--highlight-background-warning);

        > joy-icon:first-child {
            color: var(--highlight-color-warning);
        }
    }

    &_error {
        background-color: var(--highlight-background-error);

        > joy-icon:first-child {
            color: var(--highlight-color-error);
        }
    }

    &_success {
        background-color: var(--highlight-background-success);

        > joy-icon:first-child {
            color: var(--highlight-color-success);
        }
    }

    &_small {
        display: inline-flex;
    }

    > joy-icon:first-child {
        margin-right: 10px;
        margin-top: 2px;

        svg {
            width: 16px;
            height: 16px;
        }
    }
}