@mixin brewImgHoverCommon {
    content:'';
    display : inline-block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    height : 0;
    width : 100%;
    transition: transform 0.2s var(--joy-transition-duration-short);
}

@mixin brewImgHover($_color) {
    &:before {
        @include brewImgHoverCommon;
        border-right : 150px solid transparent;
        border-bottom : 150px solid $_color;
        transform-origin: right;
        right: 75%;
    }

    &:after {
        @include brewImgHoverCommon;
        border-left : 150px solid transparent;
        border-bottom : 150px solid $_color;
        left: 75%;
    }

    &:hover {
        &:before {
            transform: translate(26%);

        }
        &:after {
            transform: translateX(-26%);
        }
    }
}