@use 'style/utils';

$_CLASS: '.joy-tooltip';
$_PADDING: var(--joy-core-spacing-4);

::slotted(*) {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    margin: 0;
}

::slotted(strong) {
    font-weight: bold;
}

::slotted(small) {
    font-size: var(--joy-font-size-xxs);
}

:host {
    position: absolute;
    z-index: var(--joy-core-z-index-tooltip);
    @include utils.getFontProperties(xs);
}

#{$_CLASS} {
    font-weight: normal;
    box-sizing: border-box;
    border-radius: var(--joy-core-radius-3);
    padding: $_PADDING;
    box-shadow: var(--joy-core-elevation-3);
    color: var(--tooltip-content-color);
    background-color: var(--tooltip-bg-color);

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -7px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid var(--tooltip-bg-color);
    }
}

#{$_CLASS}__primary {
    --tooltip-bg-color: var(--joy-color-information-90);
    --tooltip-content-color: white;
}

#{$_CLASS}__secondary {
    --tooltip-bg-color: var(--joy-color-neutral-2);
    --tooltip-content-color: var(--joy-color-neutral-6);
}

#{$_CLASS}__left {
    &:before {
        left: $_PADDING;
    }
}

#{$_CLASS}__right {
    &:before {
        right: $_PADDING;
    }
}