@use '../components/availability/skeleton' as availabilitySkeleton;
@use '../components/icon/style/skeleton' as icon;
@use '../components/checkbox/style/skeleton' as checkbox;
@use '../components/company-avatar/skeleton' as companyAvatarSkeleton;
@use '../components/divider-cta/skeleton' as dividersCta;
@use '../components/indicators/style/skeleton' as indicators;
@use '../components/input/style/skeleton' as inputSkeletons;
@use '../components/form-error/skeleton' as formError;
@use '../components/link/skeleton' as link;
@use '../components/placeholder-button/skeleton' as placeholderBtnSkeleton;
@use '../components/progress-bar/skeleton' as progressBarSkeleton;
@use '../components/tag/skeleton' as tagSkeleton;
@use '../components/stepper/style/skeleton' as stepperSkeleton;
@use '../components/tags-input/skeleton' as tagsInputSkeleton;
@use '../components/dropdown/skeleton' as dropdownSkeleton;
@use '../components/rating-stars/skeleton' as ratingStarsSkeleton;

/*
AVATAR
 */
joy-avatar:not([hydrated]) {
    background-color: var(--joy-color-secondary-10);
    height: 60px;
    width: 60px;
    border-radius: var(--joy-core-radius-5);
    color: transparent; // Prevent slots to be displayed while stencil loads component entry

    &[size="small"] {
        width: 30px;
        height: 30px;
    }
}

/*
AVATAR LIST
 */
joy-avatars-list:not([hydrated]) {
    display: flex;
    height: 60px;
    color: transparent; // Prevent slots to be displayed while stencil loads component entry

    &:not([compress="true"]) {
        gap: 24px;
    }

    &[compress="true"] joy-avatar {
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: var(--joy-core-radius-5);
        display: block;

        &:not(:first-child) {
            margin-left: -25px;
        }
    }
}

/*
BADGE LEVEL
 */
joy-badge-level:not([hydrated]) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--joy-color-secondary-10);
    height: 16px;
    width: 100px;
    border-radius: var(--joy-core-radius-1);
    color: transparent; // Prevent slots to be displayed while stencil loads component entry
}

/*
BUTTON
 */
joy-button:not([hydrated]) {
    // To improve : to reduce layout shift, we gonna need to synchronize sizes and generate a skeleton for each ones
    display: inline-flex;
    position: relative;
    border: none;
    text-decoration: none;
    text-align: center;
    height: 42px;
    width: auto;
    border-radius: 22px;
    background-color: var(--joy-color-neutral-2);
    color: transparent;
}

/*
COUNTER
 */
joy-counter:not([hydrated]){
    $_size : 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--joy-color-neutral-2);
    height: $_size;
    width: 186px;
    border-radius: calc(#{$_size} / 2);
    margin: 0;
    padding: 0;
}

/*
HIGHLIGHT
 */
joy-highlight:not([hydrated]) {
    visibility: hidden;
}

/*
ICON BUTTON
 */
joy-icon-button:not([hydrated]) {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

/*
PAGINATION
 */
joy-pagination:not([hydrated]) {
    $_size: 36px;

    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--joy-color-secondary-10);
    border-radius: calc(#{$_size}/2);
    height: $_size;
    width: 260px;
    margin: 0 20px;
    color: transparent;

    &:before, &:after {
        content: "";
        position: absolute;
        margin: 0 10px;
        border-radius: 50%;
        height: $_size;
        width: $_size;
        background-color: var(--joy-color-secondary-10);
    }

    &:before {
        left: -50px;
    }

    &:after {
        right: -50px;
    }

    ul {
        li {
            visibility: hidden;
        }
    }
}


/*
 * PRODUCT TOUR
 */
joy-product-tour:not([hydrated]) {
    display: none;
}

/*
TABS
 */
joy-tabs:not([hydrated]) {
    display: flex;
    justify-content: stretch;
    align-items: flex-end;
    width: 100%;

    joy-tab {
        display: none;
    }
}

joy-tab-button:not([hydrated]) {
    display: inline-flex;
    position: relative;
    justify-content: stretch;
    text-align: center;
    border-bottom: 2px solid var(--joy-color-neutral-3);
    flex: 1 1 0;
    padding: 20px;
    color: transparent;
    font-size: 0;

    &:after {
        content: "";
        display: block;
        margin: auto;
        width: 100%;
        height: 10px;
        background-color: var(--joy-color-neutral-3);
        border-radius: 5px;
    }
}


/*
 TOGGLE
 */
joy-toggle:not([hydrated]) {
    position: relative;
    display: block;
    width: 42px;
    height: 22px;
    background-color: var(--joy-color-neutral-3);
    border-radius: 11px;
    transition: background-color,box-shadow 150ms ease;
    color: transparent;
    font-size: 0;
}

/*
 TOOLTIP
 */
joy-tooltip-trigger:not([hydrated]) {
    visibility: hidden;
}