// /*
// ICON
//  */
 @use '../components/icon/skeleton';
// /*
// TAGS
//  */
// @use '../../core/components/tag/skeleton' as tagSkeleton;
// @use '../../core/components/tags-input/skeleton' as tagsInputSkeleton;

/*
AVATAR
 */
joy-avatar:not(.hydrated) {
    background-color: var(--joy-teal-thin);
    height: 60px;
    width: 60px;
    border-radius: var(--joy-shape-5);
    color: transparent; // Prevent slots to be displayed while stencil loads component entry

    &[size="small"] {
        width: 30px;
        height: 30px;
    }
}

/*
AVATAR LIST
 */
joy-avatars-list:not(.hydrated) {
    display: flex;
    height: 60px;
    color: transparent; // Prevent slots to be displayed while stencil loads component entry

    &:not([compress="true"]) {
        gap: 24px;
    }

    &[compress="true"] joy-avatar {
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: var(--joy-shape-5);
        display: block;

        &:not(:first-child) {
            margin-left: -25px;
        }
    }
}

/*
BADGE LEVEL
 */
joy-badge-level:not(.hydrated) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--joy-teal-thin);
    height: 16px;
    width: 100px;
    border-radius: var(--joy-shape-1);
    color: transparent; // Prevent slots to be displayed while stencil loads component entry
}

/*
AVAILABILITY
 */
joy-availability:not(.hydrated){
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--joy-teal-thin);
    height: 26px;
    width: 100px;
    border-radius: var(--joy-shape-4);
    color: transparent;
}

/*
BUTTON
 */
joy-button:not(.hydrated) {
    // To improve : to reduce layout shift, we gonna need to synchronize sizes and generate a skeleton for each ones
    display: inline-flex;
    position: relative;
    border: none;
    text-decoration: none;
    text-align: center;
    height: 42px;
    width: 120px;
    border-radius: 22px;
    background-color: var(--joy-gray-3);
    color: transparent;
    font-size: 0;
}

/*
COUNTER
 */
joy-counter:not(.hydrated){
    $_size : 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--joy-teal-thin);
    height: $_size;
    width: 80px;
    border-radius: var(--joy-shape-2);
    margin: 0 40px;

    &:before, &:after {
        content: "";
        border-radius: var(--joy-shape-5);
        height: $_size;
        width: $_size;
        background-color: var(--joy-teal-thin);
        display: inline-flex;
        position: absolute;
    }
    &:before {
        left: -50px;
    }
    &:after {
        right: -50px;
    }
}


/*
DIVIDER CTA
*/
joy-divider-cta:not(.hydrated) {
    display: flex;
    height: 3px;
    background-color: var(--joy-teal-thin);
    justify-content: center;
    margin: 45px 0;

    &:after {
        content: "";
        height: 20px;
        width: 120px;
        background-color: inherit;
        transform: translateY(-50%);
    }
}

/*
HIGHLIGHT
 */
joy-highlight:not(.hydrated) {
    visibility: hidden;
}

/*
ICON BUTTON
 */
joy-icon-button:not(.hydrated) {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

/*
PAGINATION
 */
joy-pagination:not(.hydrated) {
    $_size: 36px;

    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--joy-teal-thin);
    border-radius: calc(#{$_size}/2);
    height: $_size;
    width: 260px;
    margin: 0 20px;
    color: transparent;

    &:before, &:after {
        content: "";
        position: absolute;
        margin: 0 10px;
        border-radius: 50%;
        height: $_size;
        width: $_size;
        background-color: var(--joy-teal-thin);
    }

    &:before {
        left: -50px;
    }

    &:after {
        right: -50px;
    }

    ul {
        li {
            visibility: hidden;
        }
    }
}

/*
RATING STARS
 */
joy-rating-stars:not(.hydrated) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: transparent;

    &:after, &:before {
        content: "";
        height: 14px;
        border-radius: 6px;
        background-color: var(--joy-teal-thin);
    }

    &:before {
        width: 70px;
    }

    &:after {
        width: 20px;
        margin-left: 3px;
    }
}
/*
TABS
 */
joy-tabs:not(.hydrated) {
    display: flex;
    justify-content: stretch;
    align-items: flex-end;
    width: 100%;

    joy-tab {
        display: none;
    }
}

joy-tab-button:not(.hydrated) {
    display: inline-flex;
    position: relative;
    justify-content: stretch;
    text-align: center;
    border-bottom: 2px solid var(--joy-gray-3);
    flex: 1 1 0;
    padding: 20px;
    color: transparent;
    font-size: 0;

    &:after {
        content: "";
        display: block;
        margin: auto;
        width: 100%;
        height: 10px;
        background-color: var(--joy-gray-3);
        border-radius: 5px;
    }
}


/*
 TOGGLE
 */
joy-toggle:not(.hydrated) {
    position: relative;
    display: block;
    width: 42px;
    height: 22px;
    background-color: var(--joy-gray-3);
    border-radius: 11px;
    transition: background-color,box-shadow 150ms ease;
    color: transparent;
    font-size: 0;
}

/*
 TOOLTIP
 */
joy-tooltip-trigger:not(.hydrated) {
    visibility: hidden;
}