@use 'sass:map';
@use './config';

joy-icon:not(.hydrated) {
    display: inline-flex;
    background-color: var(--joy-gray-2);
    border-radius: 50%;
    width: map.get(config.$ICON_SIZES, xsmall);
    height: map.get(config.$ICON_SIZES, xsmall);
    min-height: map.get(config.$ICON_SIZES, xsmall);
    min-width: map.get(config.$ICON_SIZES, xsmall);

    @each $size, $value in config.$ICON_SIZES {
        &[size="#{$size}"] {
            width: $value;
            height: $value;
            min-height: $value;
            min-width: $value;
        }
    }
}