@use '../../style/utils';

$_CLASS-PREFIX: '.joy-snackbar';

:host {
    --snackbar-bottom-space: var(--joy-spacing-11);
    --snackbar-color-links: var(--joy-teal-main);

    --snackbar-bg-color-info: var(--joy-teal-thin);
    --snackbar-color-info: var(--joy-teal-main);
    --snackbar-bg-color-warning: var(--joy-yellow-thin);
    --snackbar-color-warning: var(--joy-yellow-main);
    --snackbar-bg-color-error: var(--joy-red-thin);
    --snackbar-color-error: var(--joy-red-main);
    --snackbar-bg-color-success: var(--joy-turquoise-thin);
    --snackbar-color-success: var(--joy-turquoise-main);

    position: fixed;
    bottom: var(--snackbar-bottom-space);
    z-index: 10000; // need to tokenize this
    width: 100%;
    display: flex;
    justify-content: center;
    @include utils.getFontProperties(l);
}

:host(#{$_CLASS-PREFIX}__position___relative) {
    position: relative;
    bottom: 0;
    z-index: 1;
}

@keyframes showAnimation {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#{$_CLASS-PREFIX} {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 25px 20px 40px;
    overflow: hidden;
    border-radius: var(--joy-shape-3);
    text-align: left;
    background-color: var(--snackbar-bg-color-info);
    color: inherit;
    animation: showAnimation var(--joy-transition-duration-long);
    max-width: 85%;
    margin: auto;
    box-shadow: var(--joy-elevation-3);

    @media screen and (max-width: 767px) {
        padding: 15px 20px;
        font-size: var(--joy-font-size-m);
    }

    &:before {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 7px;
        height: 100%;
        background-color: var(--snackbar-color-info);
    }

    svg {
        color: var(--snackbar-color-info);
    }

    &__heading {
        @include utils.getFontProperties(l-bold);

        & + * {
            margin-bottom: var(--joy-spacing-4);
        }
    }

    &__actions,
    > button {
        align-self: center;
    }

    &__img {
        display: inline-flex;
        margin-right: var(--joy-spacing-4);
        padding-top: 4px;
    }

    &__content {
        flex-grow: 1;
        padding-right: var(--joy-spacing-5);

        a {
            color: var(--snackbar-color-links);
        }
    }

    &__close {
        display: flex;

        svg {
            display: inline-block;
        }

        &#{$_CLASS-PREFIX}__close-fixed {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    &__trigger___action {
        cursor: pointer;
        text-decoration: underline;
        margin-left: 10px;
    }

    &_info {
        background-color: var(--snackbar-bg-color-info);
        &::before {
            background-color: var(--snackbar-color-info);
        }

        svg {
            color: var(--snackbar-color-info);
        }
    }

    &_warning {
        background-color: var(--snackbar-bg-color-warning);

        &::before {
            background-color: var(--snackbar-color-warning);
        }

        #{$_CLASS-PREFIX}__img {
            svg {
                color:  var(--snackbar-color-warning);
            }
        }

    }

    &_error {
        background-color: var(--snackbar-bg-color-error);

        &::before {
            background-color: var(--snackbar-color-error);
        }

        #{$_CLASS-PREFIX}__img {
            svg {
                color: var(--snackbar-color-error);
            }
        }
    }

    &_success {
        background-color: var(--snackbar-bg-color-success);

        &::before {
            background-color: var(--snackbar-color-success);
        }

        #{$_CLASS-PREFIX}__img {
            svg {
                color: var(--snackbar-color-success);
            }
        }
    }

    @media screen and (max-width: 991px) {
        &__img {
            display: none;
        }
    }

    @media screen and (max-width: 767px) {
        margin: 0;
        max-width: 100%;
    }
}
