@use 'style/utils';

$_CLASS-PREFIX: '.joy-snackbar';

:host {
    --snackbar-bottom-space: var(--joy-core-spacing-11);
    --snackbar-color-links: var(--joy-color-secondary-50);

    --snackbar-bg-color: default;
    --snackbar-content-color: default;

    --snackbar-transition-timing: var(--joy-transition-duration-long);

    position: fixed;
    bottom: var(--snackbar-bottom-space);
    z-index: 10000; // need to tokenize this
    width: auto;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    @include utils.getFontProperties(l);
}

:host(#{$_CLASS-PREFIX}__position___relative) {
    position: relative;
    bottom: 0;
    z-index: 1;
}

@keyframes showAnimation {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#{$_CLASS-PREFIX} {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 25px 20px 40px;
    overflow: hidden;
    border-radius: var(--joy-core-radius-3);
    text-align: left;
    background-color: var(--snackbar-bg-color);
    color: inherit;
    animation: showAnimation var(--snackbar-transition-timing);
    max-width: 85%;
    margin: auto;
    box-shadow: var(--joy-core-elevation-3);

    @media screen and (max-width: 767px) {
        padding: 15px 20px;
        font-size: var(--joy-font-size-m);
    }

    &:before {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 7px;
        height: 100%;
        background-color: var(--snackbar-content-color);
    }

    &__heading {
        @include utils.getFontProperties(l-bold);

        & + * {
            margin-bottom: var(--joy-core-spacing-4);
        }
    }

    &__actions,
    > button {
        align-self: center;
    }

    &__img {
        display: inline-flex;
        margin-right: var(--joy-core-spacing-4);
        padding-top: 4px;

        joy-icon {
            color: var(--snackbar-content-color);
        }
    }

    &__content {
        flex-grow: 1;
        padding-right: var(--joy-core-spacing-5);

        a {
            color: var(--snackbar-color-links);
        }
    }

    &__close {
        display: flex;

        &#{$_CLASS-PREFIX}__close-fixed {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    &__trigger___action {
        cursor: pointer;
        text-decoration: underline;
        margin-left: 10px;
    }

    &_info {
        --snackbar-bg-color: var(--joy-color-information-10);
        --snackbar-content-color: var(--joy-color-information-50);
    }

    &_warning {
        --snackbar-bg-color: var(--joy-color-warning-10);
        --snackbar-content-color: var(--joy-color-warning-50);
    }

    &_error {
        --snackbar-bg-color: var(--joy-color-error-10);
        --snackbar-content-color: var(--joy-color-error-50);
    }

    &_success {
        --snackbar-bg-color: var(--joy-color-success-10);
        --snackbar-content-color: var(--joy-color-success-50);
    }

    @media screen and (max-width: 991px) {
        &__img {
            display: none;
        }
    }

    @media screen and (max-width: 767px) {
        margin: 0;
        max-width: 100%;
    }
}
