@use 'select';

joy-select:not([hydrated]){
    display: block;
    height: select.$SELECT_HEIGHT;
    border-radius: select.$SELECT_HEIGHT;
    background: var(--joy-color-neutral-2);
    margin-bottom: select.$SELECT_MARGIN-BOTTOM;

    joy-select-option {
        display: none;
    }
}
