@use 'style/utils';
@use 'shared';

$CLASS: '.joy-input';

@mixin rootProperties() {
    --input-color: var(--joy-color-neutral-6);
    --input-focus-color: var(--joy-color-secondary-30);
    --input-hover-color: var(--joy-color-neutral-6);
    --input-hover-border-color: var(--joy-color-state-hover);
    --input-focus-border-color: var(--joy-color-state-focus);

    --input-border-color: var(--joy-color-neutral-3);
    --input-bg-color: white;

    --input-color-disabled: var(--joy-color-neutral-4);
    --input-border-color-disabled: var(--joy-color-neutral-3);
    --input-bg-color-disabled: var(--joy-color-neutral-1);

    --input-color-invalid: var(--joy-color-error-50);
    --input-color-invalid-hover: var(--joy-color-error-90);

    --input-icon-color: var(--joy-color-neutral-5);
    --input-transition-duration: var(--joy-transition-duration-default);
}

@mixin iconsStyle() {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @content;
}

@mixin passwordIcon() {
    #{$CLASS}--password-icon {
        @include iconsStyle() {
            cursor: pointer;
            right: var(--joy-core-spacing-4);
        }
    }
}



@mixin defaultBorderStyle() {
    border-width: var(--joy-form-border-width);
    border-style: solid;
    border-color: var(--input-border-color);
    transition: all var(--input-transition-duration) var(--joy-transition-timing-function);
}

@mixin commonStyle() {
    position: relative;
    font-family: var(--joy-font-family);

    input {
        position: relative;
        z-index: 1;
        appearance: none;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--input-bg-color);
        @include defaultBorderStyle();
        border-radius:var(--input-height);
        height: var(--input-height);
        color: var(--input-color);
        font-size: var(--input-font-size);
        padding: var(--input-padding);
        outline: none;

        &::-webkit-input-placeholder {
            color: var(--joy-color-neutral-4);
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }

        &[type=password] {
            // Fix to have right dots style while input is of type password
            font-family: Verdana;
            letter-spacing: 0.125em;
        }

        @include utils.formElementColorHover() {
            & ~ joy-icon {
                color: var(--input-hover-color);
            }

            & ~ #{$CLASS}--unit {
                border-color: var(--input-hover-color);
            }
        }

        @include utils.formElementColorFocus() {
            & ~ joy-icon {
                color: var(--input-focus-color);
            }

            & ~ #{$CLASS}--unit {
                border-color: var(--input-focus-border-color);
            }
        }
    }

    joy-icon {
        color: var(--input-color);
    }
}

@mixin disabledState() {
    input:disabled, input:disabled:hover {
        cursor: not-allowed;
        background-color: var(--input-bg-color-disabled);
        border-color: var(--input-border-color-disabled);
        color: var(--input-color-disabled);

        & ~ joy-icon {
            color: var(--input-color-disabled);
        }

        & ~ #{$CLASS}--unit {
            background-color: var(--input-bg-color-disabled);
            border-color: var(--input-border-color-disabled);
        }
    }
}

@mixin invalidState() {
    input#{$CLASS}--field-invalid {
        border-color: var(--input-color-invalid);
        color: var(--input-color-invalid);

        & ~ joy-icon {
            color: var(--input-color-invalid);
        }

        & ~ #{$CLASS}--unit {
            border-color: var(--input-color-invalid);
        }
    }

    input#{$CLASS}--field-invalid:hover, input#{$CLASS}--field-invalid:focus {
        border-color: var(--input-color-invalid-hover);
        /*color: var(--input-color-invalid-hover);*/

        & ~ joy-icon {
            color: var(--input-color-invalid-hover);
        }

        & ~ #{$CLASS}--unit {
            border-color: var(--input-color-invalid-hover);
        }
    }
}

@mixin wrapperStyle() {
    #{$CLASS}--wrapper {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: var(--joy-core-spacing-4);

        &-has-icon {
            joy-icon {
                @include iconsStyle() {
                    user-select: none;
                    left: var(--joy-core-spacing-4);
                }
            }

            input {
                padding-left: var(--joy-core-spacing-10);
            }
        }

        @content;
    }
}

@mixin unitContent() {
    #{$CLASS}--wrapper-unit {
        input {
            border-right: 0;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }

    #{$CLASS}--unit {
        display: flex;
        align-items: center;
        padding-right: 4px;
        cursor: default;

        position: relative;
        background-color: var(--input-bg-color);
        height: var(--input-height);
        border-radius: 0 var(--input-height) var(--input-height) 0;
        text-align: center;
        font-style: normal;
        flex-shrink: 0;
        box-sizing: border-box;
        @include defaultBorderStyle();
        border-left: 0;

        &:before {
            content: attr(data-unit);
            display: flex;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            position: relative;
            background-color: var(--joy-color-secondary-10);
            border-radius: var(--input-unit-height);
            font-size: var(--input-font-size);
            height: var(--input-unit-height);
            min-width: var(--input-unit-height);
            padding: 0 var(--joy-core-spacing-3);
            color: var(--joy-color-secondary-50);
        }
    }
}