@use './inputs-mixin' as input;

:host {
    @include input.rootProperties();
    display: block;
}

@each $size, $props in input.$sizes {
    :host(#{input.$CLASS}--#{$size}) {
        --input-height: #{map-get($props, "height")};
        --input-padding: #{map-get($props, "padding")};
        --input-font-size: #{map-get($props, "font-size")};
        --input-unit-height: #{map-get($props, "unitHeight")};
    }
}

#{input.$CLASS} {
    @include input.commonStyle();
    @include input.focusState();
    @include input.passwordIcon();
    @include input.wrapperStyle();
    @include input.unitContent();
}

@include input.disabledState();
@include input.invalidState();


