joy-tabs joy-tab-button {
    &:first-of-type {
        border-top-left-radius: var(--joy-core-radius-3);
        border-bottom-left-radius: var(--joy-core-radius-3);
    }
    &:last-of-type {
        border-top-right-radius: var(--joy-core-radius-3);
        border-bottom-right-radius: var(--joy-core-radius-3);
    }
}