@use '../../style/utils';

$_CLASS: '.joy-select';
$SELECT_HEIGHT: 53px;
$SELECT_MARGIN-BOTTOM: 25px;

* {
    box-sizing: border-box;
}
@include utils.scrollbar() {
    border: 1px solid white;
};

:host {
    --select-height: #{$SELECT_HEIGHT};
    --select-color: var(--joy-color-neutral-5);
    --select-color-background: white;
    --select-icon-color: var(--joy-color-neutral-4);
    --select-border-color: var(--joy-color-neutral-4);
    --select-border-radius: calc(var(--select-height) / 2);
    --select-margin-bottom: #{$SELECT_MARGIN-BOTTOM};
    --select-font-size: var(--joy-font-size-m);

    --select-dropdown-border: 1px solid var(--joy-color-secondary-50);
    --select-dropdown-border-radius: var(--select-border-radius);
    --select-dropdown-max-height: 200px;
    --select-dropdown-max-height-mobile: 50vh;
    --select-dropdown-zindex: var(--joy-core-z-index-dropdown);

    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: var(--select-margin-bottom);

    #{$_CLASS}__chevron {
        position: absolute;
        right: var(--joy-core-spacing-5);
        transition: transform var(--joy-transition-duration-short) var(--joy-transition-timing-function);
    }

    #{$_CLASS}__decorative-icon {
        position: absolute;
        left: var(--joy-core-spacing-5);
    }

    joy-icon {
        color: var(--select-icon-color);
    }
}

:host(:focus) {
    --select-color: var(--joy-color-secondary-30);
    --select-border-color: var(--joy-color-secondary-30);
    --select-icon-color: var(--joy-color-secondary-30);
}

:host(:hover) {
    --select-border-color: var(--joy-color-secondary-30);
}

:host(:last-child) {
    --select-margin-bottom: 0;
}

:host(#{$_CLASS}--disabled) {
    --select-color: var(--joy-color-neutral-4);
    --select-border-color: var(--joy-color-neutral-3);
    --select-color-background: var(--joy-color-neutral-1);

    #{$_CLASS}__chevron {
        color: var(--select-border-color);
    }
}

:host(#{$_CLASS}--invalid) {
    --select-color: var(--joy-color-error-50);
    --select-border-color: var(--joy-color-error-50);
    --select-icon-color: var(--joy-color-error-50);
}

#{$_CLASS} {
    &--wrapper {
        position: relative;
        width: 100%;
    }

    &__input {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        height: var(--select-height);
        border: 1px solid var(--select-border-color);
        border-radius: var(--select-border-radius);
        color: var(--select-color);
        font-size: var(--select-font-size);
        background: var(--select-color-background);
        padding: 0 var(--joy-core-spacing-10) 0 var(--joy-core-spacing-5);

        &--with-icon {
            padding-left: var(--joy-core-spacing-10)
        }

        &--disabled {
            cursor: not-allowed;
        }

        &-placeholder {
            color: var(--select-color);
            user-select: none;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }

        &--filled {
            --select-color: var(--joy-color-neutral-6);
        }
    }

    &__options {
        opacity: 0;
        position: absolute;
        overflow: hidden;
        top: calc(100% + var(--joy-core-spacing-2));
        left: 0;
        width: 100%;
        transition: max-height var(--joy-transition-duration-short) var(--joy-transition-timing-function);
        max-height: 0;
        z-index: var(--select-dropdown-zindex);
        border-color: transparent;
        border-radius: var(--select-dropdown-border-radius);
        background: var(--select-color-background);

        &-inner {
            overflow: auto;
        }
    }

    &--form-error {
        margin-top: var(--joy-core-spacing-5);
    }
}

:host(#{$_CLASS}--open) {
    #{$_CLASS}__chevron {
        transform: rotate(180deg);
    }

    #{$_CLASS}__options {
        opacity: 1;
        border: var(--select-dropdown-border);
        max-height: var(--select-dropdown-max-height);

        &-inner {
            max-height: var(--select-dropdown-max-height);
        }
    }

    #{$_CLASS}__decorative-icon {
        fill-opacity: 0.05;
    }
}

#{$_CLASS}__input {
    &--open#{$_CLASS}__input-mobile {
        #{$_CLASS}__options {
            transform: translateY(0);
        }
    }

    &-mobile {
        #{$_CLASS}__options {
            opacity: 1;
            position: fixed;
            z-index: var(--joy-core-z-index-dialog);
            bottom: 0;
            transition: all var(--joy-transition-duration-default) var(--joy-transition-timing-function);
            transform: translateY(100%);
            top: unset;
            width: 100%;
            border: 0 !important;
            border-radius: var(--joy-core-radius-2) var(--joy-core-radius-2) 0 0;
            box-shadow: var(--joy-core-elevation-4);

            &, &-inner {
                max-height: var(--select-dropdown-max-height-mobile) !important;
            }
        }
    }
}