@use 'style/utils';

$_CLASS: '.joy-select';
$SELECT_HEIGHT: 48px;

#{$_CLASS}__wrapper {
    * {
        box-sizing: border-box;
        outline: none;
    }

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    --select-transition: var(--joy-transition-duration-short);

    --select-height: #{$SELECT_HEIGHT};
    --select-color: var(--joy-color-neutral-5);
    --select-color-background: white;
    --select-icon-color: var(--joy-color-neutral-4);
    --select-border-color: var(--joy-color-neutral-3);
    --select-border-radius: calc(var(--select-height) / 2);
    --select-font-size: var(--joy-font-size-m);

    --select-select-border: var(--joy-form-border-width) solid var(--joy-color-secondary-50);
    --select-select-border-radius: var(--select-border-radius);
    --select-select-max-height: 200px;
    --select-select-max-height-mobile: 50vh;
    --select-select-zindex: var(--joy-core-z-index-select);
}


#{$_CLASS} {
    position: relative;
    display: block;
    width: 100%;
    font-family: var(--joy-font-family);
    margin-bottom: 0;
    cursor: pointer;
    appearance: none;
    height: var(--select-height);
    border: var(--joy-form-border-width) solid var(--select-border-color);
    border-radius: var(--select-border-radius);
    color: var(--select-color);
    font-size: var(--select-font-size);
    background: var(--select-color-background);
    padding: 0 var(--joy-core-spacing-10) 0 var(--joy-core-spacing-5);
    transition: all var(--select-transition) var(--joy-transition-timing-function);
}

#{$_CLASS}:focus {
    --select-color: var(--joy-color-secondary-30);
    --select-border-color: var(--joy-color-secondary-30);
    --select-icon-color: var(--joy-color-secondary-30);

    option {
        color: var(--joy-color-neutral-6);
        font-size: var(--joy-font-size-s);
        font-family: var(--joy-font-family);
        background-color: white;

        &:disabled {
            background-color: var(--joy-color-neutral-1);
            color: var(--joy-color-neutral-4);
        }
    }
}

#{$_CLASS}:not([disabled]):hover {
    --select-border-color: var(--joy-color-secondary-30);
}

#{$_CLASS}--disabled {
    --select-color: var(--joy-color-neutral-4);
    --select-border-color: var(--joy-color-neutral-3);
    --select-color-background: var(--joy-color-neutral-1);
    --select-icon-color: var(--joy-color-neutral-3);

    select {
        cursor: not-allowed;
    }
}

#{$_CLASS}--invalid {
    --select-icon-color: var(--joy-color-error-50);

    &:hover {
        --select-icon-color: var(--joy-color-state-error-hover);
    }

    select {
        --select-color: var(--joy-color-error-50);
        --select-border-color: var(--joy-color-error-50);

        &:hover {
            --select-color: var(--joy-color-state-error-hover);
            --select-border-color: var(--joy-color-state-error-hover);
        }
    }
}

#{$_CLASS}__chevron {
    position: absolute;
    right: var(--joy-core-spacing-5);
    color: var(--select-icon-color);
    transition: transform var(--select-transition) var(--joy-transition-timing-function);
}