@use '@maltjoy/tokens/src/colors';

$BACKGROUND_COLORS: (
    l-white: white,
    l-grey: var(--joy-color-neutral-2),
    product-page: var(--joy-color-neutral-2)
);

@mixin backgrounds() {
    @each $class, $color in $BACKGROUND_COLORS {
        body.joy-wrapper.#{$class} {
            background-color: $color;
        }
    }
}

@include backgrounds();