:host {
    /**
     * @prop --highlight-background-color: background color of the highlight
     * @prop --highlight-content-color: content color of the highlight. Applied to the left icon and left-border
     */

    --highlight-background-color: var(--joy-color-neutral-6);
    --highlight-content-color: var(--joy-color-neutral-6);

    display: block;
    width: 100%;
}

.joy-highlight {
    display: flex;
    margin: 0;
    align-items: flex-start;
    padding: var(--joy-core-spacing-5);
    border-radius: var(--joy-core-radius-3);
    text-align: left;
    background-color: var(--highlight-background-color);

    joy-icon:first-child {
        color: var(--highlight-content-color);
    }

    &_neutral {
        --highlight-background-color: var(--joy-color-neutral-2);
        --highlight-content-color: var(--joy-color-neutral-6);
    }

    &_info {
        --highlight-background-color: var(--joy-color-information-10);
        --highlight-content-color: var(--joy-color-information-50);
    }

    &_warning {
        --highlight-background-color: var(--joy-color-warning-10);
        --highlight-content-color: var(--joy-color-warning-50);
    }

    &_error {
        --highlight-background-color: var(--joy-color-error-10);
        --highlight-content-color: var(--joy-color-error-50);
    }

    &_success {
        --highlight-background-color: var(--joy-color-success-10);
        --highlight-content-color: var(--joy-color-success-50);
    }

    &_small {
        display: inline-flex;
    }

    > joy-icon:first-child {
        margin-right: 10px;
        margin-top: 2px;
    }
}