@use './shared' as *;

joy-checkbox:not([hydrated]) {
    @include defaultRules();
    width: 100px;
    max-width: calc(100% - var(--checkbox-size) + var(--checkbox-label-margin));
    height: var(--checkbox-size);
    position: relative;
    margin: 0 0 var(--checkbox-label-margin) calc(var(--checkbox-size) + var(--joy-core-spacing-2));
    background-color: var(--joy-color-secondary-10);
    color: transparent;
    font-size: 0;
    padding: 0;

    &:before {
        content: "";
        position: absolute;
        right: calc(100% + var(--joy-core-spacing-2));
        width: var(--checkbox-size);
        height: var(--checkbox-size);
        border-radius: var(--checkbox-radius);
        background-color: var(--joy-color-secondary-10);
        border: 1px solid var(--joy-color-secondary-10);
    }

     > * {
         visibility: hidden;
     }
}