$block-height_big: 67px;
$block-height_medium: 53px;
$block-height_small: 42px;
$block-height_xsmall: 32px;

$radius-block_big: $block-height_big / 2;
$radius-block_medium: $block-height_medium / 2;
$radius-block_small: $block-height_small / 2;

$_padding-ref: 5px;
$_padding-xsmall: $_padding-ref*1 $_padding-ref*2;
$_padding-small: $_padding-ref*2 $_padding-ref*4;
$_padding-medium: $_padding-ref*3 $_padding-ref*6;
$_padding-big: $_padding-ref*4 $_padding-ref*8;

$_min-width: 160px;
$_space-around-cta: 4px;
// To calculate precise border-radius according to the space we need around the CTA for focus state, we need to add a bit of px
$_border-radius_to_add_around_cta: #{$_space-around-cta/2};

$BTN_SIZE_CONFIG: (
    xsmall: (
        height: $block-height_xsmall,
        fontSize: var(--joy-font-size-xs),
        radius: $radius-block_small,
        padding: $_padding-xsmall
    ),
    small: (
        height: $block-height_small,
        fontSize: var(--joy-font-size-s),
        radius: $radius-block_small,
        padding: $_padding-small
    ),
    medium: (
        height: $block-height_medium,
        fontSize: var(--joy-font-size-m),
        radius: $radius-block_medium,
        padding: $_padding-medium,
        minWidth: $_min-width
    ),
    large: (
        height: $block-height_big,
        fontSize: var(--joy-font-size-l),
        radius: $radius-block_big,
        padding: $_padding-big,
        minWidth: $_min-width
    )
);

@mixin btnSize($sizeConfig: map-get($BTN_SIZE_CONFIG, medium), $applyMinWidth: true) {
    $minHeight: map-get($sizeConfig, height);
    $fontSize: map-get($sizeConfig, fontSize);
    $radius: map-get($sizeConfig, radius);
    $padding: map-get($sizeConfig, padding);
    $minWidth: map-get($sizeConfig, minWidth);

    min-height: $minHeight;
    padding: $padding;
    font-size: $fontSize;
    border-radius: $radius;

    @if $minWidth != null and $applyMinWidth == true {
        min-width: $minWidth;
    }

    &:after {
        border-radius: calc(#{$radius} + #{$_border-radius_to_add_around_cta});
    }
}

/**
Sizes
 */
@mixin setSizes($class) {
    @each $size, $config in $BTN_SIZE_CONFIG {
        #{$class}_#{$size} {
            @include btnSize($config);
        }
    }
}
