:host {
    /**
     * @prop --label-font-size: font-size of the label
     */
    --label-font-size: var(--joy-font-size-m);

    font-weight: bold;
    line-height: var(--joy-line-height-large);

    display: block;
    width: 100%;
    margin-bottom: var(--joy-core-spacing-2);
    font-size: var(--label-font-size);
    font-family: var(--joy-font-family);
    color: var(--joy-color-text-title);
}

:host([size="small"]){
    --label-font-size: var(--joy-font-size-s);
}

:host([size="medium"]){
    --label-font-size: var(--joy-font-size-m);
}

:host([size="large"]){
    --label-font-size: var(--joy-font-size-l);
}

.joy-label-required {
    margin-left: var(--joy-core-spacing-1);
    font-size: var(--label-font-size);
    line-height: 1;
}

.joy-label-optional {
    font-size: var(--joy-font-size-s);
    font-style: italic;
    color: var(--joy-color-neutral-4);
}