@use '../../style/utils';

@mixin focusState() {
  &:after {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    transition: box-shadow var(--joy-transition-duration-default);
    border-radius: 50%;
  }


  &:focus-visible {
    &:after {
      box-shadow: 0 0 0 2px var(--pagination-focus-color);
    }
  }
}

@mixin arrowsStyle() {
  display: inline-flex;
  align-items: center;

  a, button {
    display: inline-flex;
    align-items: center;
  }
}

@mixin buttonsStyle() {
  a, button, .joy-pagination__icon {
    $_SIZE: 36px;

    position: relative;
    cursor: pointer;
    user-select: none;
    color: var(--pagination-cta-color);
    background: none;
    border: 0 none;
    text-decoration: none;
    @include utils.getFontProperties(l-bold);
    transition: all 150ms ease;

    display: flex;
    align-items: center;
    justify-content: center;
    width: $_SIZE;
    height: $_SIZE;
    border-radius: 50%;

    &:hover {
      background-color: var(--pagination-bg-color-hover);
      color: var(--pagination-color-hover);

      svg {
        color: var(--pagination-color-hover);
      }
    }

    @include focusState();

    &.current {
      background-color: var(--pagination-bg-color-active);
      color: white;
      text-decoration: none;
    }

    &:active {
      background-color: var(--pagination-bg-color-active);
      color: white;

      svg {
        color: white;
      }
    }
  }
}