@use '../../style/utils';

$_CLASS-PREFIX: '.joy-pagination';

#{$_CLASS-PREFIX} {
    --pagination-focus-color: var(--joy-gray-6);
    --pagination-separator-text-color: var(--joy-gray-6);
    --pagination-cta-color: var(--joy-gray-4);
    --pagination-bg-color-hover: var(--joy-teal-thin);
    --pagination-color-hover: var(--joy-teal-main);
    --pagination-bg-color-active: var(--joy-teal-light);

    @mixin focusState() {
        &:after {
            content: "";
            position: absolute;
            left: -1px;
            top: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            transition: box-shadow var(--joy-transition-duration-default);
            border-radius: 50%;
        }


        &:focus-visible {
            &:after {
                box-shadow: 0 0 0 2px var(--pagination-focus-color);
            }
        }
    }

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
    padding: 0;
    list-style-type: none;

    ul {
        list-style-type:  none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }

    li {
        margin: 0 3px;

        &#{$_CLASS-PREFIX}__hidden {
            opacity: 0.2;
            pointer-events: none;

            button, a {
                cursor: not-allowed;
            }
        }

        &#{$_CLASS-PREFIX}__arrow {
            display: inline-flex;
            align-items: center;

            a, button {
                display: inline-flex;
                align-items: center;
            }

        }

        #{$_CLASS-PREFIX}__separator {
            @mixin separator() {
                &::before {
                    content: "...";
                    position: absolute;
                    color: var(--pagination-separator-text-color);
                    @content;
                }
            }

            &-after {
                margin-right: 30px;

                @include separator() {
                    left: calc(100% + 10px);
                }

            }

            &-before {
                margin-left: 30px;

                @include separator() {
                    right: calc(100% + 10px);
                }
            }
        }

        a, button, joy-icon {
            $_SIZE: 36px;

            position: relative;
            cursor: pointer;
            color: var(--pagination-cta-color);
            background: none;
            border: 0 none;
            text-decoration: none;
            @include utils.getFontProperties(l-bold);
            transition: all 150ms ease;

            display: flex;
            align-items: center;
            justify-content: center;
            width: $_SIZE;
            height: $_SIZE;
            border-radius: 50%;

            &:hover {
                background-color: var(--pagination-bg-color-hover);
                color: var(--pagination-color-hover);

                svg {
                    color: var(--pagination-color-hover);
                }
            }

            @include focusState();

            &.current {
                background-color: var(--pagination-bg-color-active);
                color: white;
                text-decoration: none;
            }

            &:active {
                background-color: var(--pagination-bg-color-active);
                color: white;

                svg {
                    color: white;
                }
            }

        }
    }
}