@use '../../style/utils';
@use './mixins';

$_CLASS-PREFIX: '.joy-pagination';

@mixin focusState() {
  &:after {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    transition: box-shadow var(--joy-transition-duration-default);
    border-radius: 50%;
  }


  &:focus-visible {
    &:after {
      box-shadow: 0 0 0 2px var(--pagination-focus-color);
    }
  }
}

joy-pagination {
  [slot="pagination-prev"],
  [slot="pagination-next"] {
    @include mixins.arrowsStyle();
  }

  @include mixins.buttonsStyle();

  ul li {
    margin: 0 var(--joy-core-spacing-1);
  }
}
