$joy-font-size-xxs: 11px;
$joy-font-size-xs: 13px;
$joy-font-size-s: 15px;
$joy-font-size-m: 17px;
$joy-font-size-l: 20px;
$joy-font-size-xl: 28px;
$joy-font-size-xl-mobile: 26px;
$joy-font-size-2xl: 36px;
$joy-font-size-2xl-mobile: 32px;
$joy-font-size-3xl: 46px;
$joy-font-size-3xl-mobile: 38px;
$joy-font-size-4xl: 52px;
$joy-font-size-4xl-mobile: 42px;
$joy-font-size-quote: 26px;
$joy-font-size-quote-mobile: 22px;

$joy-font-weight-normal: 500;
$joy-font-weight-bold: 700;

$joy-line-height-small: 1.05;
$joy-line-height-large: 1.25;

@mixin getFontsProperties() {
     // Font families:
     --joy-font-family: 'Moderat', Arial, Helvetica, sans-serif;
     --joy-font-family-title: 'Agrandir', Arial, Helvetica, sans-serif; // For our component library, we don't really use this one
 
     // Font sizes 
     --joy-font-size-none: 0;
     --joy-font-size-xxs: #{$joy-font-size-xxs};
     --joy-font-size-xs: #{$joy-font-size-xs};
     --joy-font-size-s: #{$joy-font-size-s};
     --joy-font-size-m: #{$joy-font-size-m};
     --joy-font-size-l: #{$joy-font-size-l};
     --joy-font-size-xl: #{$joy-font-size-xl};
     --joy-font-size-xl-mobile: #{$joy-font-size-xl-mobile};
     --joy-font-size-2xl: #{$joy-font-size-2xl};
     --joy-font-size-2xl-mobile: #{$joy-font-size-2xl-mobile};
     --joy-font-size-3xl: #{$joy-font-size-3xl};
     --joy-font-size-3xl-mobile: #{$joy-font-size-3xl-mobile};
     --joy-font-size-4xl: #{$joy-font-size-4xl};
     --joy-font-size-4xl-mobile: #{$joy-font-size-4xl-mobile};
     --joy-font-size-quote: #{$joy-font-size-quote};
     --joy-font-size-quote-mobile: #{$joy-font-size-quote-mobile};
 
     // Font weights
     --joy-font-weight-normal: #{$joy-font-weight-normal};
     --joy-font-weight-bold: #{$joy-font-weight-bold};
 
     // Line heights
     --joy-line-height-small: #{$joy-line-height-small};
     --joy-line-height-large: #{$joy-line-height-large};
}