$joy-font-size-xxs: 11px;
$joy-font-size-xs: 13px;
$joy-font-size-s: 15px;
$joy-font-size-m: 17px;
$joy-font-size-l: 20px;
$joy-font-size-xl: 28px;
$joy-font-size-xl-mobile: 26px;
$joy-font-size-2xl: 36px;
$joy-font-size-2xl-mobile: 32px;
$joy-font-size-3xl: 46px;
$joy-font-size-3xl-mobile: 38px;
$joy-font-size-4xl: 52px;
$joy-font-size-4xl-mobile: 42px;
$joy-font-size-quote: 26px;
$joy-font-size-quote-mobile: 22px;

$joy-font-weight-normal: 500;
$joy-font-weight-bold: 700;

$joy-line-height-small: 1.05;
$joy-line-height-large: 1.25;

$joy-font-family: 'Moderat', Arial, Helvetica, sans-serif;
$joy-font-family-title: 'Agrandir Tight', Arial, Helvetica, sans-serif;

@mixin getFontsProperties() {
  // Font families:
  --joy-font-family: #{$joy-font-family};
  --joy-font-family-title: #{$joy-font-family-title};

  // Font sizes
  --joy-font-size-none: 0;
  --joy-font-size-xxs: #{$joy-font-size-xxs};
  --joy-font-size-xs: #{$joy-font-size-xs};
  --joy-font-size-s: #{$joy-font-size-s};
  --joy-font-size-m: #{$joy-font-size-m};
  --joy-font-size-l: #{$joy-font-size-l};
  --joy-font-size-xl: #{$joy-font-size-xl};
  --joy-font-size-xl-mobile: #{$joy-font-size-xl-mobile};
  --joy-font-size-2xl: #{$joy-font-size-2xl};
  --joy-font-size-2xl-mobile: #{$joy-font-size-2xl-mobile};
  --joy-font-size-3xl: #{$joy-font-size-3xl};
  --joy-font-size-3xl-mobile: #{$joy-font-size-3xl-mobile};
  --joy-font-size-4xl: #{$joy-font-size-4xl};
  --joy-font-size-4xl-mobile: #{$joy-font-size-4xl-mobile};
  --joy-font-size-quote: #{$joy-font-size-quote};
  --joy-font-size-quote-mobile: #{$joy-font-size-quote-mobile};

  // Font weights
  --joy-font-weight-normal: #{$joy-font-weight-normal};
  --joy-font-weight-bold: #{$joy-font-weight-bold};

  // Line heights
  --joy-line-height-small: #{$joy-line-height-small};
  --joy-line-height-large: #{$joy-line-height-large};
}

/* We don't use 2xl, 3xl, 4xl map keys because in some Intellij configurations, these keys are reformatted */

$FONTS_MAP: (
        xxs: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-xxs),
                fontWeight: var(--joy-font-weight-normal),
                lineHeight: var(--joy-line-height-large)
        ),
        xxs-bold: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-xxs),
                fontWeight: var(--joy-font-weight-bold),
                lineHeight: var(--joy-line-height-large)
        ),
        xs: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-xs),
                fontWeight: var(--joy-font-weight-normal),
                lineHeight: var(--joy-line-height-large)
        ),
        xs-bold: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-xs),
                fontWeight: var(--joy-font-weight-bold),
                lineHeight: var(--joy-line-height-large)
        ),
        s: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-s),
                fontWeight: var(--joy-font-weight-normal),
                lineHeight: var(--joy-line-height-large)
        ),
        s-bold: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-s),
                fontWeight: var(--joy-font-weight-bold),
                lineHeight: var(--joy-line-height-large)
        ),
        m: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-m),
                fontWeight: var(--joy-font-weight-normal),
                lineHeight: var(--joy-line-height-large)
        ),
        m-bold: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-m),
                fontWeight: var(--joy-font-weight-bold),
                lineHeight: var(--joy-line-height-large)
        ),
        l: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-l),
                fontWeight: var(--joy-font-weight-normal),
                lineHeight: var(--joy-line-height-large)
        ),
        l-bold: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-l),
                fontWeight: var(--joy-font-weight-bold),
                lineHeight: var(--joy-line-height-large)
        ),
        xl: (
                fontFamily: var(--joy-font-family-title),
                fontSize: var(--joy-font-size-xl),
                fontWeight: 500,
                fontSizeMobile: var(--joy-font-size-xl-mobile),
                lineHeight: var(--joy-line-height-small)
        ),
        xl-title: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-xl),
                fontWeight: 500,
                fontSizeMobile: var(--joy-font-size-l),
                lineHeight: var(--joy-line-height-large)
        ),
        xl-title-bold: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-xl),
                fontWeight: 700,
                fontSizeMobile: var(--joy-font-size-xl-mobile),
                lineHeight: var(--joy-line-height-small)
        ),
        xxl: (
                fontFamily: var(--joy-font-family-title),
                fontSize: var(--joy-font-size-2xl),
                fontSizeMobile: var(--joy-font-size-2xl-mobile),
                fontWeight: 500,
                lineHeight: var(--joy-line-height-small)
        ),
        xxxl: (
                fontFamily: var(--joy-font-family-title),
                fontSize: var(--joy-font-size-3xl),
                fontSizeMobile: var(--joy-font-size-3xl-mobile),
                fontWeight: 500,
                lineHeight: var(--joy-line-height-small)
        ),
        xxxxl: (
                fontFamily: var(--joy-font-family-title),
                fontSize: var(--joy-font-size-4xl),
                fontSizeMobile: var(--joy-font-size-4xl-mobile),
                fontWeight: 500,
                lineHeight: var(--joy-line-height-small)
        ),
        quote: (
                fontFamily: var(--joy-font-family),
                fontSize: var(--joy-font-size-quote),
                fontSizeMobile: var(--joy-font-size-quote-mobile),
                fontWeight: var(--joy-font-weight-bold),
                lineHeight: var(--joy-line-height-small)
        )
);

@mixin getFontBySize($font: m) {
     $fontProperties : map-get($FONTS_MAP, $font);
     $fontFamily: map-get($fontProperties , fontFamily);
     $fontSize: map-get($fontProperties , fontSize);
     $fontSizeMobile: map-get($fontProperties , fontSizeMobile);
     $fontWeight: map-get($fontProperties , fontWeight);
     $fontLineHeight: map-get($fontProperties , lineHeight);

     @if $fontFamily != null {
          font-family: $fontFamily;
     }
     font-weight: $fontWeight;
     font-size: $fontSize;
     line-height: $fontLineHeight;

     @if $fontSizeMobile!= null {
          @media (max-width: 767px) {
               font-size: $fontSizeMobile;
          }
     }
}