$icon-xxsmall: 12px;
$icon-xsmall: 18px;
$icon-small: 24px;
$icon-medium: 32px;
$icon-large: 46px;
$icon-xlarge: 128px;

$ICON_SIZES: (
    xxsmall: $icon-xxsmall,
    xsmall: $icon-xsmall,
    small: $icon-small,
    medium: $icon-medium,
    large: $icon-large,
    xlarge: $icon-xlarge
);