@use './config';

$_FILL_OPACITY: 0.05;

$_ICONS-COLORS: (
    "teal": (
        color: var(--joy-color-secondary-50),
        placeholder: var(--joy-color-secondary-10)
    ),
    "grey": (
        color: var(--joy-color-neutral-4),
        placeholder: var(--joy-color-neutral-2)
    ),
    "red": (
        color: var(--joy-color-primary-50),
        placeholder: var(--joy-color-primary-10)
    ),
    "yellow": (
        color: var(--joy-color-quaternary-70),
        placeholder: var(--joy-color-quaternary-10)
    ),
    "green": (
        color: var(--joy-color-tertiary-50),
        placeholder: var(--joy-color-tertiary-10)
    ),
    "white": (
        color: white,
        placeholder: rgba(255, 255, 255, 0.2)
    )
);

@keyframes svgFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.joy-i-wc {
    display: inline-flex;
    fill-opacity: 0;
    color: var(--joy-color-secondary-50);
    // Default color;
    shape-rendering: auto;
    stroke-width: 1.5px;
    @include config.iconSize(xsmall);
    border-radius: 50%;

    &_list {
        ul {
            > li {
                padding-left: 33px;
            }
        }

        &-loaded {
            ul {
                > li {
                    padding-left: 0;
                }
            }
        }
    }

    svg, .icon-inner {
        // Default
        // Prevent clicking on svg or use elements when adding a listener on <i> icon
        pointer-events: none;
    }


    &.joy-i-wc_loaded {
        background-color: transparent;
        opacity: 1;
    }

    @each $name, $size in config.$ICON_SIZES {
        &_#{$name} {
            @include config.iconSize($name);
        }
    }

    @each $colorName, $params in $_ICONS-COLORS {
        &_#{$colorName} {
            color: map-get($params, color);

            &:not(.joy-i-wc_loaded) {
                border-radius: 50%;
                background-color: map-get($params, placeholder);
            }
        }
    }

    &_clickable {
        cursor: pointer;

        &:hover {
            fill-opacity: $_FILL_OPACITY;
        }
    }

    &_full {
        fill-opacity: 1;
    }

    &_bg {
        fill-opacity: $_FILL_OPACITY;
    }
}