@mixin getElevationsProperties() {
    $_shadow-color: rgba(24,24,24, 0.16);

    --joy-elevation-0: 0 0 0 0 #{$_shadow-color};
    --joy-elevation-1: 0 2px 4px 0 #{$_shadow-color};
    --joy-elevation-2: 0 4px 12px 0 #{$_shadow-color};
    --joy-elevation-3: 0 6px 24px 0 #{$_shadow-color};
    --joy-elevation-4: 0px 8px 32px 0 #{$_shadow-color};
}