@use 'shared';

joy-dropdown:not([hydrated]){
    display: block;
    height: shared.$DROPDOWN_HEIGHT;
    border-radius: shared.$DROPDOWN_HEIGHT;
    background: var(--joy-color-neutral-2);
    margin-bottom: shared.$DROPDOWN_MARGIN-BOTTOM;

    joy-option {
        display: none;
    }
}
