$DOT_SIZE_NORMAL: 24px;
$DOT_SIZE_MINI: 12px;

@mixin hostStyle() {
    position: relative;
    flex: 2;
    display: flex;
    align-items: center;

    @content;
}

@mixin defaultCircleStyle() {
    &::before {
        content: '';
        background-color: white;
        box-sizing: border-box;
        border: 2px solid var(--stepper-border-color);
        border-radius: 100%;
        z-index: 1;
        margin-bottom: var(--joy-core-spacing-3);
        width: $DOT_SIZE_NORMAL;
        min-width: $DOT_SIZE_NORMAL;
        height: $DOT_SIZE_NORMAL;
        min-height: $DOT_SIZE_NORMAL;
    }
}

@mixin defaultStrokeStyle() {
    &::after {
        content: '';
        height: 2px;
        background-color: var(--joy-color-neutral-3);
        width: 100%;
        position: absolute;
        top: 12px;
        box-sizing: border-box;
    }
}