@use '../../style/utils';
@use './mixins';

$_CLASS: '.joy-tags-input';

:host {
    display: block;
    margin-bottom: var(--joy-core-spacing-3);
    @include utils.getFontProperties(s);
    /** As Stencil loads component from deeper child to its first level parent, we don't want to display tags-input children until it's 100% rendered **/
    * {
        visibility: hidden;
    }
}

:host(.hydrated) {
    * {visibility: visible}
}

#{$_CLASS} {
    &-wrapper {
        display: block;
    }

    &-label {
        display: block;
        margin-bottom: var(--joy-core-spacing-2);
        font-size: inherit;
    }

    &-inner {
        background-color: white;
        @include mixins.innerStyle();

        &-focused {
            border: 1px solid var(--joy-color-secondary-30);
        }

        &-invalid {
            border: 1px solid var(--joy-color-error-50);

            &:hover {
                border: 1px solid var(--joy-color-error-90);
            }
        }

        joy-tags-list {
            justify-content: stretch;
            width: 100%;
        }

        input {
            border: 0;
            margin: 0;
            padding: 0;
            outline: none;
            min-height: 35px;
            min-width: 150px;
            flex-grow: 1;
            font-size: inherit;
        }
    }
}

joy-form-error {
    margin-top: var(--joy-core-spacing-3);
}