@use '@maltjoy/tokens/src/fonts' as fonts;
@use '../src/style'; // all tokens

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  color: var(--joy-color-neutral-5);
  background-color: var(--joy-color-neutral-2);
}

.pg {
  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--joy-core-spacing-3);

    h1 {
      margin-left: var(--joy-core-spacing-3);
      @include fonts.getFontBySize(xl);
    }
  }

  &-main  {
    $_aside-width: 500px;

    display: flex;
    align-items: stretch;
    gap: var(--joy-core-spacing-8);
    margin-top: var(--joy-core-spacing-5);
    padding: var(--joy-core-spacing-5);
    height: 85vh;

    > * {
      border: 1px solid var(--joy-color-neutral-3);
      border-radius: var(--joy-core-radius-3);
      padding: var(--joy-core-spacing-5);
      background-color: white;
    }

    &--aside {
      flex: 0 0 #{$_aside-width};
    }

    &--content {
      flex: 1 0 calc(100% - #{$_aside-width} - var(--joy-core-spacing-8));
    }
  }
}

.resizable {
  width: 375px;
  height: 65vh;
  resize: both;
  overflow: auto;
  max-width: 100%;
  padding: var(--joy-core-spacing-4);
  border: 2px solid var(--joy-color-neutral-3);
}